.DS_Store
**/.DS_Store

.firebase/
**/.firebase/

firebase-debug.log
firebase-functions-debug.log
**/firebase-debug.log
**/firebase-functions-debug.log

node_modules/
**/node_modules/

npm-debug.log*
